/* RESET DASAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: #d8d3d3;
    padding: 20px;
}

/* JUDUL */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 8px;
}

/* DESKRIPSI */
p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

/* TABEL */
table {
    width: 100%;
    max-width: 600px;
    margin: auto;
    border-collapse: collapse;
    background-color: #fafafa;
}

/* HEADER TABEL */
th {
    background-color: #2ecc71;
    color: white;
    padding: 12px;
    text-align: center;
}

/* ISI TABEL */
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* EFEK HOVER BARIS */
tr:hover {
    background-color: #f1f1f1;
}
